<ion-view view-title="Find a team" ng-controller="findTeamCtrl">
  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      
      </ion-nav-buttons>

  <ion-content>
  <div>
   <a class="item item-royal item-icon-right" href="#">
      <input type="text" class="findteamtextbox" placeholder="Search For Team">
   
    <button class=" button button-royal icon findteamsbutton">
      <i class="ion-ios-search-strong"></i></button>
      </a>
   </div>
  <div class="list list-assertive">

    <a class="item item-assertive item-thumbnail-left" href="#">
      <img src="../img/Profile1.jpg">
      <h2 class="stable">Team Sophia Lee</h2>
      <h4 class="stable">3,200 Team Members(359 Online)</h4>
      <h4 class="stable">Total Sales : $187,900.00</h4>
       <button class="button button-royal jointeamButton" ng-click ="joinTeam()">Join the Team</button>
    </a>
 <a class="item item-assertive item-thumbnail-left" href="#">
      <img src="../img/Profile2.jpg">
      <h2 class="stable">Team Lee Lee Chin</h2>
      <h4 class="stable">2,890 Team Members(255 Online)</h4>
      <h4 class="stable">Total Sales : $112,500.00</h4>
       <button class="button button-royal jointeamButton" ng-click ="joinTeam()">Join the Team</button>
    </a>
    <a class="item item-assertive item-thumbnail-left" href="#">
      <img src="../img/Profile3.jpg">
      <h2 class="stable">Team Joshua Cheong</h2>
      <h4 class="stable">1,560 Team Members(175 Online)</h4>
      <h4 class="stable">Total Sales : $87,100.00</h4>
       <button class="button button-royal jointeamButton" ng-click ="joinTeam()">Join the Team</button>
    </a>
 <a class="item item-assertive item-thumbnail-left" href="#">
      <img src="../img/Profile4.jpg">
      <h2 class="stable">Team James Ho</h2>
      <h4 class="stable">366 Team Members(85 Online)</h4>
      <h4 class="stable">Total Sales : $47,900.00</h4>
       <button class="button button-royal jointeamButton" ng-click ="joinTeam()">Join the Team</button>
    </a>
</div>

  </ion-content>
</ion-view>
