<ion-modal-view>
  <ion-content class="background-home">
  <button class="button button-positive applycardDiv" ng-click="opensignup()">
  Apply Card
</button>

 <button class="button button-positive loginDiv" ng-click="openLogin()">
  Login
</button>
   <!-- <form ng-submit="doLogin()">
      <div class="loginDiv">
      <div class="list list-inset">
        <label class="item item-input">
         
          <input type="text" placeholder="Username" ng-model="data.username">
        </label>
        <label class="item item-input">
          
         <input type="number" style="-webkit-text-security:disc" placeholder="Password" ng-model="data.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
      </div>
    </form> -->
  </ion-content>
</ion-modal-view>
