<ion-modal-view>
  <ion-content class="background-home">
    <form ng-submit="doLogin()">
      <div class="loginpageDiv">
      <div class="list list-inset">
        <label class="item item-input">
         <!-- <span class="input-label">Username</span>-->
          <input type="text" placeholder="Username" ng-model="data.username">
        </label>
        <label class="item item-input">
          <!--<span class="input-label">Password</span>-->
         <!-- <input type="password" ng-model="data.password">-->
         <input type="number" style="-webkit-text-security:disc" placeholder="Password" ng-model="data.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
