<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
  <div class="txndiv">
  <div class="item item-positive">
  Last 5 transactions</div>
  <table id="t01">
  <tr>
    <th>DD/MM/YYYY</th>
    <th>Transaction</th>    
    <th>Status</th>
  </tr>
  <tr>
    <td class="stable">19/04/2016</td>
     <td class="stable">S$3.80</td>
      <td><button Class="button button-balanced button-small">Pay Points</button></td>  
  </tr>
  <tr>
   <td class="stable">17/04/2016</td>    
    <td class="stable">S$22.00</td>
     <td><button Class="button button-balanced button-small">Pay Points</button></td>
  </tr>
  <tr>
   <td class="stable">15/04/2016</td>
   <td class="stable">S$5.00</td>
   <td><button Class="button button-balanced button-small">Pay Points</button></td>    
  </tr>
   <tr>
    <td class="stable">20/09/2015</td>
  <td class="stable">S$68.62</td>
   <td><button Class="button button-energized button-small">Need More Points</button></td>    
  </tr>
   <tr>
     <td class="stable">21/09/2015</td>
    <td class="stable">S$25.50</td>
   <td><button Class="button button-balanced button-small">Pay Points</button></td>    
  </tr>
</table>
</div>
  </ion-content>
</ion-modal-view>
