<ion-view view-title="Sales Tracker" ng-controller="salesTrackCtrl">
 <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        
      </ion-nav-buttons>

  <ion-content class="background-salestracker">


  <div class="salestrackerdiv">
  <h4 class="stable">Tracking History</h4>
  <br>
 <!--<div class=" item item-royal">
  <h3 class="stable" >Date From <input type="date" placeholder="01/03/2016" name="lname" class="teameventtxtbox"> To <input type="date" placeholder="31/12/2016" name="lname" class="teameventtxtbox"></h3>
</div>
<div>-->
<table id="t04">
<tr>
<td class="stable">Date From</td>
<td><input type="date" class="teameventtxtbox"></td>
<td class="stable">To</td>
<td><input type="date" class="teameventtxtbox"></td>
</tr>
</table>
</div>

<div class="item item-assertive salestrackertable">
<table id="t01">
  <tr>
    <th>DD/MM/YYYY</th>
    <th>Friend Name</th>    
    <th>Status</th>
  </tr>
  <tr>
    <td><h3 class="stable">15/09/2015</h3></td>
     <td><h3 class="stable">Chin ya MA</h3></td>
      <td><button Class="button button-energized button-small" ng-click="shareAnywhere()">Inactive</button></td>  
  </tr>
  <tr>
   <td style="height:40px"><h3 class="stable">18/09/2015</h3></td>    
    <td style="height:40px"><h3 class="stable">Benjamin Kang</h3></td>
     <td style="height:40px"><h3 class="stable">App Downloaded</h3></td>
  </tr>
  <tr>
   <td><h3 class="stable">20/09/2015</h3></td>
   <td><h3 class="stable">Sophia Lee</h3></td>
   <td><h3 class="stable">$5.00</h3></td>    
  </tr>
   <tr>
    <td><h3 class="stable">20/09/2015</h3></td>
  <td><h3 class="stable">Lee Lee Chin</h3></td>
   <td><h3 class="stable">$30.00</h3></td>    
  </tr>
   <tr>
     <td><h3 class="stable">21/09/2015</h3></td>
    <td><h3 class="stable">Anabel Chen</h3></td>
   <td><button Class="button button-light button-small">Declined</button></td>    
  </tr>
   <tr>
    <td><h3 class="stable">18/09/2015</h3></td>
  <td><h3 class="stable">Michelle Ler</h3></td>
   <td><h3 class="stable">$20.00</h3></td>    
  </tr>
</table>
</div>

  

  </ion-content>
</ion-view>
