<ion-modal-view>
 <ion-header-bar class="bar-positive">
    <h2 class="title">Enter OTP</h2>
    <div class="buttons">
      <button class="button button-clear icon" ng-click="closesendotp()"><i class= "ion-close-circled"></i></button>
    </div>
  </ion-header-bar>
 

  <ion-content >
  <div class="background-otp">
  <br>
<p class="calm">To proceed with your transaction, please enter One-Time PIN generated via your Online Security Device(OSD).</p>
<br>
<br>
<p class="calm">If you don't have your OSD, please use the "Click here for One-Time PIN via SMS"  link to trigger a SMS OTP.</p>
<br>
<br>
</div>
<div class="background-otp">
<input type="number" class="otptextbox" style="-webkit-text-security:disc" ng-model="data.pinnumber" placeholder="Enter One-Time PIN Here">
<br>
<a> Click here for One-Time PIN via SMS </a>
<br>
<br>
<br>
<h6 class="calm">If you experience difficulties in receiving you one_Time PIN(OTP),please contact our 24-Hour CitiPhone at (65) 6225-5225 for future assistance.</h6>
<h6 class="calm">In our continuous effort to make Citi Mobile app a secured banking environment, you are required to enter a One-Time PIN(OTP). A Single random PIN that will be sent to you via SMS 
or generated via your Online Security Device(OSD) as a second level of security.</h6>

<!--<button class="button button-large  button-positive block">Continue</button>
<button class="button button-large button-positive block">Cancel</button>-->
<div class="calm">
  <button class="button button-clear button-positive  otpbutton2" ng-click="closesendotp()">Cancel</button>
  <button class="button button-positive otpbutton1" ng-disabled="data.pinnumber.length < 4 || data.pinnumber == null" ng-click="openTxn()">Continue</button>
  
</div>
</div>

  </ion-content>
</ion-modal-view>
