<ion-modal-view>
 <ion-header-bar class="bar-positive">
    <h2 class="title">Sign Up for Citi Rewards Card</h2>
    <div class="buttons">
      <button class="button button-clear icon" ng-click="closesignup()"><i class= "ion-close-circled"></i></button>
    </div>
  </ion-header-bar>
 

  <ion-content >
  <div class="background-otp">
  <img src="../www/img/visacard.jpg">
  <span >CitiBank Rewards Visa Card</span>

  <progress class ="positive" max="100" value="20"> </progress>
 <h3 class="calm"> Tell us about yourself </h3>
 <div class="item">
 <a class="item item-avatar" href="#">
      <img src ="../www/img/camera.jpg">
      <h2>Want to type less?</h2>
      <p>snap your id ></p>
    </a>
 </div>

 <h3 class="calm">Personal Information</h3>
 <div class="list">
  <!-- <div class="item">
      <label class="item item-input-wrapper forminputtitle">   
      <input type="text"  placeholder="Title">
      </label>
   </div>-->
   <div class="item">
   <label class="item item-input item-select forminputtitle">
    <div class="input-label">
        &nbsp;
    </div>
    <select>
        <option selected>Mr.</option>
        <option>Mrs.</option>
        <option>Miss.</option>
    </select>
</label>

 <label class="item item-input forminputname" >
      <input type="text" placeholder="Given Name">
      </label>
</div>
   <div class="item item-input-inset">
      <label class="item item-input forminput" >
      <input type="text" placeholder="Surname (as in NRIC/Passport)">
      </label>
   </div>
   <div class="item item-input-inset">
      <label class="item item-input forminput"> 
      <input type="text" placeholder="Alias Name (as in NRIC/Passport)">
      </label>
   </div>
   <div class="item item-input-inset forminputDiv">
      <span class="input-label">Date of Birth</span>
      <label class="item item-input forminputDOB">
     <input  type="date" placeholder="Date of Birth">
      </label>
   </div>
</div>

<h3 class="calm">Contact Details</h3>

<div class="item item-input-inset">
      <label class="item item-input forminput">
      <input type="number" placeholder="Mobile Number">
      </label>
   </div>
   <div class="item item-input-inset">
      <label class="item item-input forminput"> 
      <input type="text" placeholder="Email">
      </label>
   </div>
   <div class="item">
   <button class="button button-positive button-full" ng-click="closesignup()">Submit</button>
   </div>
  </ion-content>
</ion-modal-view>
