<ion-view view-title="Team Sales Event" ng-controller='teamSalesCtrl'>

 <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        
      </ion-nav-buttons>

  <ion-content >
  <div class="item  jointeamdiv">
  </div>
  <div class="item item-positive"> Event Duration</div>
  <div class=" item item-positive"
  <h3 class="stable" Date From<h3>  <input type="text" placeholder="01/03/2016" name="lname" disabled> To <br> <input type="text" placeholder="31/12/2016" name="lname" disabled></h3>
</div>
<div class="item item-royal badgesdiv">
Badges to be won

 <div class="row">
  <div class=" item item-assertive item-text-wrap col1"><i class="ion-thumbsup larger"></i><br><P class="stable test">Best team of the week</P></div>
  <div class="item  item-assertive item-text-wrap col2"><i class="ion-ribbon-b larger"></i><br><h4 class="stable larger">Best team of the week</h4></div>
  <div class="item  item-assertive item-text-wrap col3"><i class="ion-trophy larger"></i></div>
  </div>
  <div class="row">
  <div class=" item item-assertive col4"><i class="ion-person-stalker larger"></i></div>
  <div class="item  item-assertive col5"><i class="ion-star larger"></i></div>
  <div class="item item-assertive col6"><i class="ion-ribbon-a larger"></i></div>
  </div>
   <button class="button button-positive findteambutton" ng-click="findTeam()">Find a team now!</button>
</div>

  

  </ion-content>
</ion-view>
