<ion-view view-title="Team Sales Event" ng-controller='teamSalesCtrl'>

 <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        
      </ion-nav-buttons>

  <ion-content class="jointeamBG">


  <div class="item item-royal jointeamdiv">Event Duration</div>
  <div class=" item item-royal">
  <h3 class="stable" >Date From <input type="date" placeholder="01/03/2016" name="lname" class="teameventtxtbox"> To <input type="date" placeholder="31/12/2016" name="lname" class="teameventtxtbox"></h3>
</div>
<div class="item item-assertive badgesdiv">
Badges to be won

 <div class="row">
  <div class="item item-center item-positive col1"><img src ="../www/img/Best-Team-of-Week.png"><h4 class="stable smaller">Best team</h4> <h4 class="stable smaller">of the week</h4></div>
  <div class="item  item-positive col2"><img src ="../www/img/Best-Team-of-Month.png"><br><h4 class="stable smaller">Best team</h4><h4 class="stable smaller">of the month</h4></div>
  <div class="item  item-positive item-text-wrap col3"><img src ="../www/img/Best-Overall-Team.png"><h4 class="stable larger">Overall Best team</h4></div>
  </div>
  <div class="row">
  <div class=" item item-positive item-text-wrap col4"><img src ="../www/img/Most-Participation.png"><h4 class="stable larger">Most Participation</h4></div>
  <div class="item  item-positive item-text-wrap col5"><img src ="../www/img/Silver-Star.png"><h4 class="stable larger">Silver star</h4></div>
  <div class="item item-positive item-text-wrap col6"><img src ="../www/img/Extra-Mile-Award.png"><h4 class="stable larger">Extra-Mile Award</h4></div>
  </div>
   <button class="button button-royal findteambutton" ng-click="findTeam()">Find a team now!</button>
</div>


  

  </ion-content>
</ion-view>
