.loginDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;        
    width:200px;
    height:50px;
    margin-left: -100px; /*half width*/
    margin-top: -10px; /*half height*/
}

.applycardDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;        
    width:200px;
    height:50px;
    margin-left: -100px; /*half width*/
    margin-top: -100px; /*half height*/
}

.joinEvent {
	left:50%;
    top: 75%;
    position: absolute;
    text-align: center;        
    width:250px;
    height:40px;
	margin-left: -120px; /*half width*/
    margin-top: -100px; 
}
.jointeamdiv{

	 background-image: url("../img/ionic.png");
    background-repeat: no-repeat;
}

.header .col {
  background-color:lightgrey;
}

.tableheader{
  background-color:lightgrey;
}

.header1 {
    height: 40px;
    border-bottom: 1px solid #EEE;
    background-color: #ffffff;
    height: 40px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
}

.col:last-child {
  border-right: solid 1px grey;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}

.mainbody {
    margin-top: 0;
    min-height: 150px;
    max-height: 388px;
    overflow: auto;
}
